/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  

  body {
    font-family: 'Lexend Deca', sans-serif;
    Font-size: 15px;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
  }
   
  p{
      color: hsla(0, 0%, 100%, 0.75);
  }
   
  h2{
   color: hsl(0, 0%, 95%);
   font-family: 'Big Shoulders Display', cursive; 
   font-size: 45px; 

  }

  @media(max-width:776px) {
    h2{
      font-size: 40px; 
     }
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
 /* Small */
 @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  .container {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(250px,1fr))
  }
  
  .container .box:first-child {
    border-radius: 5px 0 0 5px;
    background-color:hsl(31, 77%, 52%) ;
}

.container .box:nth-child(2) {
   
    background-color:hsl(184, 100%, 22%) ;
}

.container .box:last-child {
    border-radius: 0 5px 5px 0;
    background-color:hsl(179, 100%, 13%) ;
}

.container .box {
      padding:38px;
      position: relative;
 }



 .container .box h2{
    text-transform: uppercase;
    margin: 30px 0;
}

.container .box p {
    line-height:2; 
    margin-bottom: 100px;  
}


 @media(max-width:776px) {
  .container .box p {
    margin-bottom: 70px  
}

    .container .box  {
      padding:55px
   }

     
  .container .box:first-child {
    border-radius: 5px 5px 0 0;
    
}


.container .box:last-child {
    border-radius: 0 0 5px 5px;
   
}

 } 

.container .box a{
  display: block;
  padding: 15px 30px;
  background-color:hsl(0, 0%, 95%);
  width: fit-content; 
  border-radius: 30px;
  text-transform: capitalize;
  border: 2px solid hsl(0, 0%, 95%);
  position: absolute;
  bottom:38px;
  transition: .5s;
}


.container .box:first-child a{
    color:hsl(31, 77%, 52%) ;
  }
  
.container .box:nth-child(2) a{
    color:hsl(184, 100%, 22%);
   }
.container .box:last-child a{
    color:hsl(179, 100%, 13%)  ;
}
   
.container .box a:hover{
    background-color: inherit;
    color:hsl(0, 0%, 95%); ;
  }
  
